{% extends "base/base.html" %}

{% block content %}
{% load static%}
<style>
  html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
     background: #1C2331!important;
  }
}
/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }
</style>
<div class="view full-page-intro" style="background-image: url('{% static "img/geiger_landing_page.jpeg"%}'); background-repeat: no-repeat; background-size: cover;">
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4 white-text text-center text-md-left">
          <h1 class="display-4 font-weight-bold">Soccer Referee Database</h1>
          <hr class="hr-light">
          <p>
            <strong>A comprehensive source on the referees of Major League Soccer</strong>
          </p>
          <p class="mb-4 d-none d-md-block">
            <strong>We have data on all matches since the inaugural 1996 season including crews, cards, fouls, and historical averages for MLS officials.</strong>
          </p>
          <a href="/referees/page/1/" class="btn btn-indigo btn-lg">Referees
            <i class="fas fa-user ml-2"></i>
          </a>
          <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-indigo btn-lg">Clubs
            <i class="fas fa-futbol-o ml-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}