{% extends "base/base.html" %}

{% block content %}
{% load static %}
<div class="jumbotron card card-image"
    style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
    <div class="text-white text-center py-5 px-4">
        <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>W O w</strong></h2>
            <p class="mx-5 mb-5">Referee Data for the Refined
            </p>
            <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i>Fuck</a>
        </div>
    </div>
</div>
<div class="container">

</div>
{% endblock %}