{% extends "base/base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <a type="button" class="btn btn-mdb-color" href="/referees/page/1">Back</a>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <h4><strong>{{ referee.name_common }}</strong></h4>
      <img src="{{ referee.image_url }}">
    </div>
    <div class="col-md-8">
      <br>
      <br>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Debuts</strong></h5>
            <p class="card-text">
              <ul>
                <li>
                  <strong>First Match: </strong>{{ matches.first.match_date}}<br>
                  {{ matches.first.home_club.name }} vs {{ matches.first.away_club.name }}
                </li>
                <br>
                <li>
                  <strong>Latest Match: </strong>{{ matches.last.match_date}}<br>
                  {{ matches.last.home_club.name }} vs {{ matches.last.away_club.name }}
                </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Career Totals</strong></h5>
            <p class="card-text">
              <ul>
                {% if referee.is_referee %}
                <li><strong>Centers: </strong>{{ career_totals.centers }}</li>
                <li><strong>Fourth Officials: </strong>{{ career_totals.fourths }}</li>
                <li><strong>Yellow Cards: </strong>{{ career_totals.yellow_cards }}</li>
                <li><strong>Red Cards: </strong>{{ career_totals.red_cards }}</li>
                <li><strong>Fouls: </strong>{{ career_totals.fouls }}</li>
                <li><strong>Penalties: </strong>{{ career_totals.penalties }}</li>
                {% else %}
                <li><strong>Total Assignments: </strong>{{ career_totals.total_assignments }}</li>
                <br>
                <li><strong>AR 1 Assignments: </strong>{{ career_totals.ar1 }}</li>
                <br>
                <li><strong>AR 2 Assignments: </strong>{{ career_totals.ar2 }}</li>
                {% endif %}
              </ul>
            </p>
          </div>
        </div>
        {% if referee.is_referee %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Career Averages</strong></h5>
            <p class="card-text">
              <ul>
                <li><strong>{{ career_averages.yellow_cards }}</strong> Yellow Cards Per Game</li>
                <li>1 Red Card Per <strong>{{ career_averages.red_cards }}</strong> Games</li>
                <li><strong>{{ career_averages.fouls }}</strong> Fouls Per Game</li>
                <li>1 Penalty Per <strong>{{ career_averages.penalties }}</strong> Games</li>
              </ul>
            </p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table id="matchesTable" class="table table-sm table-hover table-striped table-bordered" cellspacing="0"
        width="100%">
        <thead class="special-color white-text">
          <tr>
            <th class="th-sm">Date
            </th>
            <th class="th-sm">Position
            </th>
            <th class="th-sm">Home Team
            </th>
            <th class="th-sm">Home Score
            </th>
            <th class="th-sm">Away Fouls
            </th>
            <th class="th-sm">Home Yellow Cards
            </th>
            <th class="th-sm">Home Red Cards
            </th>
            <th class="th-sm">Home Penalties
            </th>
            <th class="th-sm">Away Team
            </th>
            <th class="th-sm">Away Score
            </th>
            <th class="th-sm">Away Fouls
            </th>
            <th class="th-sm">Away Yellow Cards
            </th>
            <th class="th-sm">Away Red Cards
            </th>
            <th class="th-sm">Away Penalties
            </th>
            <th class="th-sm">Details
            </th>
          </tr>
        </thead>
        <tbody>
          {% for match in matches_referee %}
          <tr>
            <td>{{ match.match_date | date:'Y-m-d' }}</td>
            <td>Referee</td>
            <td>{{ match.home_club.name }}</td>
            <td><strong>{{ match.home_score }}</strong></td>
            <td>{{ match.home_fouls }}</td>
            <td>{{ match.home_cards_yellow }}</td>
            <td>{{ match.home_cards_red }}</td>
            <td>{{ match.home_penalties }}</td>
            <td>{{ match.away_club.name }}</td>
            <td><strong>{{ match.away_score }}</strong></td>
            <td>{{ match.away_fouls }}</td>
            <td>{{ match.away_cards_yellow }}</td>
            <td>{{ match.away_cards_red }}</td>
            <td>{{ match.away_penalties }}</td>
            <td>
              <button type="button" class="btn btn-indigo btn-sm m-0" data-toggle="modal"
                data-target="#gameModal{{ match.match_id }}">Details</button>
            </td>
          </tr>
          {% endfor %}
          {% for match in matches_ar1 %}
          <tr>
            <td>{{ match.match_date | date:'Y-m-d' }}</td>
            <td>AR1</td>
            <td>{{ match.home_club.name }}</td>
            <td><strong>{{ match.home_score }}</strong></td>
            <td>{{ match.home_fouls }}</td>
            <td>{{ match.home_cards_yellow }}</td>
            <td>{{ match.home_cards_red }}</td>
            <td>{{ match.home_penalties }}</td>
            <td>{{ match.away_club.name }}</td>
            <td><strong>{{ match.away_score }}</strong></td>
            <td>{{ match.away_fouls }}</td>
            <td>{{ match.away_cards_yellow }}</td>
            <td>{{ match.away_cards_red }}</td>
            <td>{{ match.away_penalties }}</td>
            <td>
              <button type="button" class="btn btn-indigo btn-sm m-0" data-toggle="modal"
                data-target="#gameModal{{ match.match_id }}">Details</button>
            </td>
          </tr>
          {% endfor %}
          {% for match in matches_ar2 %}
          <tr>
            <td>{{ match.match_date | date:'Y-m-d' }}</td>
            <td>AR2</td>
            <td>{{ match.home_club.name }}</td>
            <td><strong>{{ match.home_score }}</strong></td>
            <td>{{ match.home_fouls }}</td>
            <td>{{ match.home_cards_yellow }}</td>
            <td>{{ match.home_cards_red }}</td>
            <td>{{ match.home_penalties }}</td>
            <td>{{ match.away_club.name }}</td>
            <td><strong>{{ match.away_score }}</strong></td>
            <td>{{ match.away_fouls }}</td>
            <td>{{ match.away_cards_yellow }}</td>
            <td>{{ match.away_cards_red }}</td>
            <td>{{ match.away_penalties }}</td>
            <td>
              <button type="button" class="btn btn-indigo btn-sm m-0" data-toggle="modal"
                data-target="#gameModal{{ match.match_id }}">Details</button>
            </td>
          </tr>
          {% endfor %}
          {% for match in matches_fourth_official %}
          <tr>
            <td>{{ match.match_date | date:'Y-m-d' }}</td>
            <td>Fourth Official</td>
            <td>{{ match.home_club.name }}</td>
            <td><strong>{{ match.home_score }}</strong></td>
            <td>{{ match.home_fouls }}</td>
            <td>{{ match.home_cards_yellow }}</td>
            <td>{{ match.home_cards_red }}</td>
            <td>{{ match.home_penalties }}</td>
            <td>{{ match.away_club.name }}</td>
            <td><strong>{{ match.away_score }}</strong></td>
            <td>{{ match.away_fouls }}</td>
            <td>{{ match.away_cards_yellow }}</td>
            <td>{{ match.away_cards_red }}</td>
            <td>{{ match.away_penalties }}</td>
            <td>
              <button type="button" class="btn btn-indigo btn-sm m-0" data-toggle="modal"
                data-target="#gameModal{{ match.match_id }}">Details</button>
            </td>
          </tr>
          {% endfor %}
          {% for match in matches_var %}
          <tr>
            <td>{{ match.match_date | date:'Y-m-d' }}</td>
            <td>VAR</td>
            <td>{{ match.home_club.name }}</td>
            <td><strong>{{ match.home_score }}</strong></td>
            <td>{{ match.home_fouls }}</td>
            <td>{{ match.home_cards_yellow }}</td>
            <td>{{ match.home_cards_red }}</td>
            <td>{{ match.home_penalties }}</td>
            <td>{{ match.away_club.name }}</td>
            <td><strong>{{ match.away_score }}</strong></td>
            <td>{{ match.away_fouls }}</td>
            <td>{{ match.away_cards_yellow }}</td>
            <td>{{ match.away_cards_red }}</td>
            <td>{{ match.away_penalties }}</td>
            <td>
              <button type="button" class="btn btn-indigo btn-sm m-0" data-toggle="modal"
                data-target="#gameModal{{ match.match_id }}">Details</button>
            </td>
          </tr>
          {% endfor %}
          {% for match in matches_avar %}
          <tr>
            <td>{{ match.match_date | date:'Y-m-d' }}</td>
            <td>AVAR</td>
            <td>{{ match.home_club.name }}</td>
            <td><strong>{{ match.home_score }}</strong></td>
            <td>{{ match.home_fouls }}</td>
            <td>{{ match.home_cards_yellow }}</td>
            <td>{{ match.home_cards_red }}</td>
            <td>{{ match.home_penalties }}</td>
            <td>{{ match.away_club.name }}</td>
            <td><strong>{{ match.away_score }}</strong></td>
            <td>{{ match.away_fouls }}</td>
            <td>{{ match.away_cards_yellow }}</td>
            <td>{{ match.away_cards_red }}</td>
            <td>{{ match.away_penalties }}</td>
            <td>
              <button type="button" class="btn btn-indigo btn-sm m-0" data-toggle="modal"
                data-target="#gameModal{{ match.match_id }}">Details</button>
            </td>
          </tr>
          {% endfor %}
          {% for match in matches_fifth_official %}
          <tr>
            <td>{{ match.match_date | date:'Y-m-d' }}</td>
            <td>Fifth Official</td>
            <td>{{ match.home_club.name }}</td>
            <td><strong>{{ match.home_score }}</strong></td>
            <td>{{ match.home_fouls }}</td>
            <td>{{ match.home_cards_yellow }}</td>
            <td>{{ match.home_cards_red }}</td>
            <td>{{ match.home_penalties }}</td>
            <td>{{ match.away_club.name }}</td>
            <td><strong>{{ match.away_score }}</strong></td>
            <td>{{ match.away_fouls }}</td>
            <td>{{ match.away_cards_yellow }}</td>
            <td>{{ match.away_cards_red }}</td>
            <td>{{ match.away_penalties }}</td>
            <td>
              <button type="button" class="btn btn-indigo btn-sm m-0" data-toggle="modal"
                data-target="#gameModal{{ match.match_id }}">Details</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot class="special-color white-text">
          <tr>
            <th>Date
            </th>
            <th>Position
            </th>
            <th>Home Team
            </th>
            <th>Home Score
            </th>
            <th>Home Fouls
            </th>
            <th>Home Yellow Cards
            </th>
            <th>Home Red Cards
            </th>
            <th>Home Penalties
            </th>
            <th>Away Team
            </th>
            <th>Away Score
            </th>
            <th>Away Fouls
            </th>
            <th>Away Yellow Cards
            </th>
            <th>Away Red Cards
            </th>
            <th>Away Penalties
            </th>
            <th>Detals
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% for match in matches%}
<div class="modal fade" id="gameModal{{match.match_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{ match.match_date }}</strong>:
          {{ match.home_club.name }}({{ match.home_score }}) vs {{ match.away_club.name }}({{ match.away_score }})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Referee Crew</h3>
        <ul>
          <li>Referee: <a href="/referees/{{ match.referee.referee_id}}">{{ match.referee.name_common }}</a></li>
          <li>AR1: <a href="/referees/{{ match.ar1.referee_id}}">{{ match.ar1.name_common }}</a></li>
          <li>AR2: <a href="/referees/{{ match.ar2.referee_id}}">{{ match.ar2.name_common }}</a></li>
          <li>Fourth Official: <a href="/referees/{{ match.fourth_official.referee_id}}">{{ match.fourth_official.name_common }}</a></li>
          {% if match.var %}
          <li>VAR: <a href="/referees/{{ match.var.referee_id}}">{{ match.var.name_common }}</a></li>
          {% endif %}
          {% if match.avar %}
          <li>AVAR: <a href="/referees/{{ match.avar.referee_id}}">{{ match.avar.name_common }}</a></li>
          {% endif %}
          {% if match.fifth_official %}
          <li>Fifth Official: <a href="/referees/{{ match.fifth_official.referee_id}}">{{ match.fifth_official.name_common }}</a></li>
          {% endif %}
        </ul>
        {% if match.yellowcard_set.all %}
        <h3>Yellow Cards</h3>
        <table class="table table-sm table-hover table-striped table-bordered yellowCardTable">
          <thead class="special-color white-text">
            <tr>
              <th scope="col">Minute</th>
              <th scope="col">Player</th>
              <th scope="col">Club</th>
              <th scope="col">Code</th>
            </tr>
          </thead>
          <tbody>
            {% for yellow in match.yellowcard_set.all %}
            <tr>
              <td>{{ yellow.minute }}</td>
              <td>{{ yellow.player_name }}</td>
              <td>{{ yellow.club.name }}</td>
              {% if yellow.code == 'UB' %}
              <td><a data-toggle="tooltip" title="Unsporting Behaviour">{{ yellow.code }}</a></td>
              {% elif yellow.code == 'DR' %}
              <td><a data-toggle="tooltip" title="Delaying the Restart">{{ yellow.code }}</a></td>
              {% elif yellow.code == 'PI' %}
              <td><a data-toggle="tooltip" title="Persistent Infringements">{{ yellow.code }}</a></td>
              {% elif yellow.code == 'L' %}
              <td><a data-toggle="tooltip" title="Leaving the Field of Play">{{ yellow.code }}</a></td>
              {% elif yellow.code == 'DT' %}
              <td><a data-toggle="tooltip" title="Dissent">{{ yellow.code }}</a></td>
              {% elif yellow.code == 'E' %}
              <td><a data-toggle="tooltip" title="Entering the Field of Play">{{ yellow.code }}</a></td>
              {% elif yellow.code == 'FRD' %}
              <td><a data-toggle="tooltip" title="Failure to Respect the Distance">{{ yellow.code }}</a></td>
              {% else %}
              <td>{{ yellow.code }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if match.redcard_set.all %}
        <h3>Red Cards</h3>
        <table class="table table-sm table-hover table-striped table-bordered redCardTable">
          <thead class="special-color white-text">
            <tr>
              <th scope="col">Minute</th>
              <th scope="col">Player</th>
              <th scope="col">Club</th>
              <th scope="col">Code
              </th>
            </tr>
          </thead>
          <tbody>
            {% for red in match.redcard_set.all %}
            <tr>
              <td>{{ red.minute }}</td>
              <td>{{ red.player_name }}</td>
              <td>{{ red.club.name }}</td>
              <td>{{ red.code }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if match.penalties.all %}
        <h3>Penalties</h3>
        <table class="table table-sm table-hover table-striped table-bordered penaltyTable">
          <thead class="special-color white-text">
            <tr>
              <th scope="col">Minute</th>
              <th scope="col">Club</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {% for penalty in match.penalties.all %}
            <tr>
              <td>{{ penalty.minute }}</td>
              <td>{{ penalty.club.name }}</td>
              <td>{{ penalty.foul_desc }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('#matchesTable').DataTable({
      "pagingType": "first_last_numbers"
    });
    $('.dataTables_length').addClass('bs-select');
  });
  $(document).ready(function () {
    $('.yellowCardTable').DataTable({
      "searching": false,
      "paging": false
    });
    $('.dataTables_length').addClass('bs-select');
  });
  $(document).ready(function () {
    $('.redCardTable').DataTable({
      "searching": false,
      "paging": false
    });
    $('.dataTables_length').addClass('bs-select');
  });
  $(document).ready(function () {
    $('.penaltyTable').DataTable({
      "searching": false,
      "paging": false
    });
    $('.dataTables_length').addClass('bs-select');
  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}