{% extends "base/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="input-group md-form form-sm form-1 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text cyan lighten-2" id="basic-text1"><i class="fas fa-search text-white"
                            aria-hidden="true"></i></span>
                </div>
                <input id="searchBox" class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="container-fluid">
        {% for referee in page_obj %}
        {% if referee.first_in_row or referee.count == 1 %}
        <br>
        <div class="row cardDeck">
            <div class="col-md-2"></div>
            {% endif %}
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src={{ referee.image_url }} alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><strong>{{ referee.name }}</strong></h4>
                        <p class="card-text">
                            <strong>Total Matches: </strong>{{ referee.total_assignments_count }}<br>
                            <strong>Debut Match: </strong> {{ referee.debut_match.date }}<br>
                            {{ referee.debut_match.home_team }} vs {{ referee.debut_match.away_team }}
                        </p>
                        <a href="{{ referee.referee_url }}" class="btn btn-primary">Statistics</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
            <div class="col-md-2"></div>
        </div>
        {% endif %}
        {% endfor %}
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <nav>
                    <ul class="pagination pagination-lg pg-blue justify-content-center">
                        <li class="page-item ">
                            <a class="page-link" tabindex="-1" href="/referees/page/1">Previous</a>
                        </li>
                        {% for page_number in page_range %}
                        {% if page_number == current_page_number %}
                        <li class="page-item active"><a class="page-link">{{ page_number }}<span
                                    class="sr-only">(current)</span></a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link"
                                href="/referees/page/{{ page_number }}">{{ page_number }}</a></li>
                        {% endif %}
                        {% endfor %}
                        <li class="page-item ">
                            <a class="page-link" href="referees/page/1">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

{% endblock %} 
{% block scripts %}
<script>
    $('#searchBox').keyup(function (){
        $('.card').removeClass('d-none');
        var filter = $(this).val(); // get the value of the input, which we filter on
        $('.cardDeck').find('.card .card-body h4:not(:contains("'+filter+'"))').parent().parent().addClass('d-none');
    });
</script>
{% endblock %}