{% extends "base/base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <a type="button" class="btn btn-mdb-color" href="/referees/page/1">Back</a>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <h4><strong>{{ referee.name_common }}</strong></h4>
      <img src="{{ referee.image_url }}">
    </div>
    <div class="col-md-8">
      <br>
      <br>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Debuts</strong></h5>
            <p class="card-text">
              <ul>
                <li>
                  <strong>First Match: </strong>{{ first_match.match_date}}<br>
                  {{ first_match.home_club.name }} vs {{ first_match.away_club.name }}
                </li>
                <br>
                <li>
                  <strong>Latest Match: </strong>{{ last_match.match_date}}<br>
                  {{ last_match.home_club.name }} vs {{ last_match.away_club.name }}
                </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Career Totals</strong></h5>
            <p class="card-text">
              <ul>
                {% if referee.is_referee %}
                <li><strong>Centers: </strong>{{ career_totals.centers }}</li>
                <li><strong>Fourth Officials: </strong>{{ career_totals.fourths }}</li>
                <li><strong>Yellow Cards: </strong>{{ career_totals.yellow_cards }}</li>
                <li><strong>Red Cards: </strong>{{ career_totals.red_cards }}</li>
                <li><strong>Fouls: </strong>{{ career_totals.fouls }}</li>
                <li><strong>Penalties: </strong>{{ career_totals.penalties }}</li>
                {% else %}
                <li><strong>Total Assignments: </strong>{{ career_totals.total_assignments }}</li>
                <br>
                <li><strong>AR 1 Assignments: </strong>{{ career_totals.ar1 }}</li>
                <br>
                <li><strong>AR 2 Assignments: </strong>{{ career_totals.ar2 }}</li>
                {% endif %}
              </ul>
            </p>
          </div>
        </div>
        {% if referee.is_referee %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Career Averages</strong></h5>
            <p class="card-text">
              <ul>
                <li><strong>{{ career_averages.yellow_cards }}</strong> Yellow Cards Per Game</li>
                <li>1 Red Card Per <strong>{{ career_averages.red_cards }}</strong> Games</li>
                <li><strong>{{ career_averages.fouls }}</strong> Fouls Per Game</li>
                <li>1 Penalty Per <strong>{{ career_averages.penalties }}</strong> Games</li>
              </ul>
            </p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table id="matchesTable" class="table table-sm table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead class="special-color white-text">
          <tr>
            <th class="th-sm">Date
            </th>
            <th class="th-sm">Position
            </th>
            <th class="th-sm">Home Team
            </th>
            <th class="th-sm">Home Score
            </th>
            <th class="th-sm">Away Fouls
            </th>
            <th class="th-sm">Home Yellow Cards
            </th>
            <th class="th-sm">Home Red Cards
            </th>
            <th class="th-sm">Home Penalties
            </th>
            <th class="th-sm">Away Team
            </th>
            <th class="th-sm">Away Score
            </th>
            <th class="th-sm">Away Fouls
            </th>
            <th class="th-sm">Away Yellow Cards
            </th>
            <th class="th-sm">Away Red Cards
            </th>
            <th class="th-sm">Away Penalties
            </th>
            <th class="th-sm">Details
            </th>
          </tr>
        </thead>
        <tbody>
          {% for match in matches %}
          <tr>
            <td>{{ match.match_date | date:'Y-m-d' }}</td>
            {% if match.referee == referee %}
            <td>Referee</td>
            {% elif match.ar1 == referee %}
            <td>AR1</td>
            {% elif match.ar2 == referee %}
            <td>AR2</td>
            {% elif match.fourth_official == referee %}
            <td>Fourth Official</td>
            {% elif match.var == referee %}
            <td>VAR</td>
            {% elif match.avar == referee %}
            <td>AVAR</td>
            {% elif match.fifth_official == referee %}
            <td>Fifth Official</td>
            {% endif %}
            <td>{{ match.home_club.name }}</td>
            <td><strong>{{ match.home_score }}</strong></td>
            <td>{{ match.home_fouls }}</td>
            <td>{{ match.home_cards_yellow }}</td>
            <td>{{ match.home_cards_red }}</td>
            <td>{{ match.home_penalties }}</td>
            <td>{{ match.away_club.name }}</td>
            <td><strong>{{ match.away_score }}</strong></td>
            <td>{{ match.away_fouls }}</td>
            <td>{{ match.away_cards_yellow }}</td>
            <td>{{ match.away_cards_red }}</td>
            <td>{{ match.away_penalties }}</td>
            <td><button type="button" class="btn btn-indigo btn-sm m-0" data-toggle="modal" data-target="#gameModal">Details</button></td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot class="special-color white-text">
          <tr>
            <th>Date
            </th>
            <th>Position
            </th>
            <th>Home Team
            </th>
            <th>Home Score
            </th>
            <th>Home Fouls
            </th>
            <th>Home Yellow Cards
            </th>
            <th>Home Red Cards
            </th>
            <th>Home Penalties
            </th>
            <th>Away Team
            </th>
            <th>Away Score
            </th>
            <th>Away Fouls
            </th>
            <th>Away Yellow Cards
            </th>
            <th>Away Red Cards
            </th>
            <th>Away Penalties
            </th>
            <th>Detals
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-fluid modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Match</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <!--Card Codes Go Here-->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  console.log('WOW');
  $(document).ready(function () {
    $('#matchesTable').DataTable({
      "pagingType": "first_last_numbers"
    });
    $('.dataTables_length').addClass('bs-select');
  });
</script>
{% endblock %}