{% extends "base/base.html" %}
{% block content %}

<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <h4><strong>{{ referee.name_common }}</strong></h4>
      <img src="{{ referee.image_url }}">
    </div>
    <div class="col-md-8">
      <br>
      <br>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Debuts</strong></h5>
            <p class="card-text">
              <ul>
                <li>
                  <strong>First Match: </strong>{{ first_match.match_date}}<br>
                  {{ first_match.home_club.name }} vs {{ first_match.away_club.name }}
                </li>
                <br>
                <li>
                  <strong>Latest Match: </strong>{{ last_match.match_date}}<br>
                  {{ last_match.home_club.name }} vs {{ last_match.away_club.name }}
                </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Career Totals</h5>
            <p class="card-text">
              <ul>
                <li><strong>Matches: </strong></li>
                <li><strong>Yellow Cards: </strong></li>
                <li><strong>Red Cards: </strong></li>
                <li><strong>Fouls: </strong></li>
                <li><strong>Penalties: </strong></li>
              </ul>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Career Averages</h5>
            <p class="card-text">
              <ul>
                <li><strong>Matches: </strong></li>
                <li><strong>Yellow Cards: </strong></li>
                <li><strong>Red Cards: </strong></li>
                <li><strong>Fouls: </strong></li>
                <li><strong>Penalties: </strong></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table id="dtBasicExample" class="table table-sm table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">Date
            </th>
            <th class="th-sm">Home Team
            </th>
            <th class="th-sm">Home Score
            </th>
            <th class="th-sm">Away Fouls
            </th>
            <th class="th-sm">Home Yellow Cards
            </th>
            <th class="th-sm">Home Red Cards
            </th>
            <th class="th-sm">Home Penalties
            </th>
            <th class="th-sm">Away Team
            </th>
            <th class="th-sm">Away Score
            </th>
            <th class="th-sm">Away Fouls
            </th>
            <th class="th-sm">Away Yellow Cards
            </th>
            <th class="th-sm">Away Red Cards
            </th>
            <th class="th-sm">Away Penalties
            </th>
          </tr>
        </thead>
        <tbody>
          {% for match in matches %}
          <tr>
            <td>{{ match.match_date }}</td>
            <td>{{ match.home_club.name }}</td>
            <td><strong>{{ match.home_score }}</strong></td>
            <td>{{ match.home_fouls }}</td>
            <td>{{ match.home_cards_yellow }}</td>
            <td>{{ match.home_cards_red }}</td>
            <td>{{ match.home_penalties }}</td>
            <td>{{ match.away_club.name }}</td>
            <td><strong>{{ match.away_score }}</strong></td>
            <td>{{ match.away_fouls }}</td>
            <td>{{ match.away_cards_yellow }}</td>
            <td>{{ match.away_cards_red }}</td>
            <td>{{ match.away_penalties }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Date
            </th>
            <th>Home Team
            </th>
            <th>Home Score
            </th>
            <th>Away Fouls
            </th>
            <th>Home Yellow Cards
            </th>
            <th>Home Red Cards
            </th>
            <th>Home Penalties
            </th>
            <th>Away Team
            </th>
            <th>Away Score
            </th>
            <th>Away Fouls
            </th>
            <th>Away Yellow Cards
            </th>
            <th>Away Red Cards
            </th>
            <th>Away Penalties
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  console.log('WOW');
  $(document).ready(function () {
    $('#dtBasicExample').DataTable({
      "pagingType": "first_last_numbers"
    });
    $('.dataTables_length').addClass('bs-select');
  });
</script>
{% endblock %}