{% extends "base/base.html" %}
{% block content %}

<div class="container-fluid">
  <h1>{{ referee.name_common }}</h1>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">Date
            </th>
            <th class="th-sm">Home Team
            </th>
            <th class="th-sm">Home Score
            </th>
            <th class="th-sm">Away Fouls
            </th>
            <th class="th-sm">Home Yellow Cards
            </th>
            <th class="th-sm">Home Red Cards
            </th>
            <th class="th-sm">Home Penalties
            </th>
            <th class="th-sm">Away Team
            </th>
            <th class="th-sm">Away Score
            </th>
            <th class="th-sm">Away Fouls
            </th>
            <th class="th-sm">Away Yellow Cards
            </th>
            <th class="th-sm">Away Red Cards
            </th>
            <th class="th-sm">Away Penalties
            </th>
          </tr>
        </thead>
        <tbody>
          {% for match in matches %}
          <tr>
            <td>{{ match.match_date }}</td>
            <td>{{ match.home_club.name }}</td>
            <td><strong>{{ match.home_score }}</strong></td>
            <td>{{ match.home_fouls }}</td>
            <td>{{ match.home_cards_yellow }}</td>
            <td>{{ match.home_cards_red }}</td>
            <td>{{ match.home_penalties }}</td>
            <td>{{ match.away_club.name }}</td>
            <td><strong>{{ match.away_score }}</strong></td>
            <td>{{ match.away_fouls }}</td>
            <td>{{ match.away_cards_yellow }}</td>
            <td>{{ match.away_cards_red }}</td>
            <td>{{ match.away_penalties }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Date</th>
            <th>Home Team</th>
            <th><strong>Home Score</strong></th>
            <th>Home Yellow Cards</th>
            <th>Home Red Cards</th>
            <th>Home Penalties</th>
            <th>Away Team</th>
            <th><strong>Away Score</strong></th>
            <th>Away Yellow Cards</th>
            <th>Away Red Cards</th>
            <th>Away Penalties</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  console.log('WOW');
  $(document).ready(function () {
    $('#dtBasicExample').DataTable({
      "pagingType": "first_last_numbers"
    });
    $('.dataTables_length').addClass('bs-select');
  });
</script>
{% endblock %}