{% extends "base/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <a type="button" class="btn btn-mdb-color" href="/clubs">Back</a>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h4><strong>{{ club.name }}</strong></h4>
        </div>
        <div class="col-md-9"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table id="refereeTable" class="table table-sm table-hover table-striped table-bordered" cellspacing="0"
                width=100%>
                <thead class="special-color white-text">
                    <tr>
                        <th class="th-sm">Referee</th>
                        <th class="th-sm">Matches Count</th>
                        <th class="th-sm">Status</th>
                        <th class="th-sm">Matches</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ref_obj in ref_objs %}
                    <tr>
                        <td><a href="/referees/{{ ref_obj.referee.referee_id }}">{{ ref_obj.referee.name_common }}</a>
                        </td>
                        <td>{{ ref_obj.matches.count }}</td>
                        <td>{{ ref_obj.referee.is_active }}</td>
                        <td>
                            <button type="button" class="btn btn-indigo btn-sm m-0" data-toggle="modal"
                                data-target="#refereeModal{{ref_obj.referee.referee_id}}">Matches</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="special-color white-text">
                    <tr>
                        <th>Referee</th>
                        <th>Matches Count</th>
                        <th>Status</th>
                        <th>Matches</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% for ref_obj in ref_objs %}
<div class="modal fade" id="refereeModal{{ref_obj.referee.referee_id}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="matchesTable" class="table table-sm table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead class="special-color white-text">
                        <tr>
                        </tr>
                        <tbody>
                            {% for match in ref_obj.matches %}
                            {% endfor %}
                        </tbody>
                </table>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#refereeTable').DataTable({
            "pagingType": "first_last_numbers"
        });
        $('.dataTables_length').addClass('bs-select');
    });  
</script>
{% endblock %}